<%- include("header") -%>

<section class="about">
    <h1 class="about-header">About ToDo List</h1>
    <p>Welcome to our ToDo List application! Our platform is designed to help you manage your daily tasks with ease and efficiency. We understand the challenges that come with balancing a busy schedule, which is why we've developed this user-friendly tool to simplify task management and keep you organized.</p>
    <p>At ToDo List, our mission is to provide you with a seamless experience that makes it effortless to create, update, and delete tasks as needed. Built with a visually appealing and intuitive interface, our platform is suitable for users of all ages and technical abilities. In addition to its core functionality, ToDo List offers a range of features, such as customizable list titles and an easy-to-navigate menu, ensuring you can tailor the platform to your specific needs.</p>

    <p>We take pride in developing a product that not only enhances productivity but also encourages a sense of accomplishment as you check off completed tasks. Our team is dedicated to continuously improving the platform based on user feedback and technological advancements, ensuring you always have the best possible experience using ToDo List.</p>

    <p>We encourage you to explore our site, try out the various features, and discover how ToDo List can simplify your life. Whether you're a student juggling assignments, a busy professional managing multiple projects, or simply looking to bring order to your day-to-day life, ToDo List is here to support you every step of the way.</p>

</section>

<%- include("footer") -%>